{% extends "base.html" %}

{% block title %}Register new user{% endblock %}

{% block body %}
<div class="content-section">
    <form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <div class="mb-4">
            <h2 class="text-7xl text-green-700">Join now...</h2>
        </div>

        {{ form }}

        <div class="flex items-center justify-between">
            <button
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Sign Up
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
                href="{% url 'account_login' %}">
                Already have an account?
                <span class="text-sm text-green-700 font-semibold">
                    Sing in
                </span>
            </a>
        </div>

    </form>
</div>
{% endblock %}